*.background:   #25252c
*.foreground:   #ffffff
*.cursorColor:  #ffffff
URxvt.scrollBar: false
URxvt.background:	[100]#25252c
URxvt*foreground: 		                #ffffff
URxvt*cursorColor:		                #ffffff
URxvt.font: xft:monofur:size=12
*.color0:       #2f2f38
*.color1:       #9abfcd
*.color2:       #679fb4
*.color3:       #357f9b
*.color4:       #036082
*.color5:       #024c68
*.color6:       #02435b
*.color7:       #b3cfd9
*.color8:       #b3cfd9
*.color9:       #9abfcd
*.color10:      #679fb4
*.color11:      #357f9b
*.color12:      #036082
*.color13:      #024c68
*.color14:      #02435b
*.color15:      #b3cfd9
rofi.color-enabled: true
rofi.color-window: #2f2f38, #679fb4, #679fb4
rofi.color-normal: #2f2f38, #679fb4, #2f2f38, #2f2f38, #ffffff
rofi.color-active: #2f2f38, #679fb4, #2f2f38, #2f2f38, #ffffff
rofi.color-urgent: #2f2f38, #679fb4, #2f2f38, #2f2f38, #ffffff
rofi.font: monofur 13
